test/Cisco_Tail-f_NSO_example/MEF_Tests/xsd/mef-topology.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:yin="urn:ietf:params:xml:schema:yang:yin:1"
           targetNamespace="http://metroethernetforum.org/ns/yang/mef-topology"
           xmlns="http://metroethernetforum.org/ns/yang/mef-topology"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2015-05-26"
           xml:lang="en"
          xmlns:mef-types="http://metroethernetforum.org/ns/yang/mef-types"
          xmlns:mef-topology="http://metroethernetforum.org/ns/yang/mef-topology">

  <xs:import namespace="http://metroethernetforum.org/ns/yang/mef-types"
             schemaLocation="mef-types.xsd"/>

  <xs:annotation>
    <xs:documentation>
      This schema was generated from the YANG module mef-topology

      The schema describes an instance document consisting
      of the entire configuration data store, operational
      data, rpc operations, and notifications.
      This schema can thus NOT be used as-is to
      validate NETCONF PDUs.
    </xs:documentation>
  </xs:annotation>

  <xs:annotation>
    <xs:documentation>
      This module models the NMS level view of the network devices, 
      their physical interfaces, and the network topology. 
      When the NMS discovers a network device,it is to pull the 
      device configuration and operational status as expected for 
      an NMS. Once the NMS has a network device's configuration, 
      it creates the /mef-topology/devices/device{} entry and 
      populates the list of physical interfaces. The Peers entries 
      are populated as configuration to reflect physical cabling 
      interconnections.Hints could be detected from LLDP Neighbor 
      information[802.1AB].

      Reference Overview:
      A number of base documents have been used to create 
      the MEF Topology YANG Module. The following are the 
      abbreviations for the baseline documents:
      [RFC 6991] refers to IETF RFC 6991 'Common YANG Data Types',
      2013-07-15  
      [RFC 6643] refers to IETF RFC 6643 'Translation of Structure
      of Management Information
      Version 2 (SMIv2) MIB Modules to YANG Modules', 2011-11-25  
      [802.1AB] refers to 'Station and Media Access Control
      Connectivity Discovery', IEEE 802.1AB-2009, September 2009
      [802.1q] refers to IEEE 802.1Q-2011 'IEEE Standard for Local
      and metropolitan area networks --Media Access Control (MAC)
      Bridges and Virtual Bridged Local Area Networks, August 2011
      [802-2001] refers to 'IEEE Standard for Local and Metropolitan
      Area Networks: Overview and Architecture', IEEE 802-2001,
      February 2002
      [MEF10.3] refers to MEF 10.3 
      'Ethernet Services Attributes Phase 3', October 2013
      [MEF6.2] refers to MEF 6.2 
      'EVC Ethernet Services Defintions Phase 3', August 2014
      [MEF40] refers to MEF 40 
      'UNI and EVC Definition of Managed Objects', April 2013
      [MEF45] refers to MEF 45 'Multi-CEN L2CP', August 2014
      [MEF7.2] refers to MEF 7.2 
      'Carrier Ethernet Management Information Model', April 2013
      [MEF7.3] refers to MEF 7.3 
      'Carrier Ethernet Management Information Model',
      Working Draft #1 2015
      [RFC 2737] refers to IETF RFC 2737 'Entity MIB (Version 2)',
      December 1999
      [RFC 2863] refers to IETF RFC 2863 'The Interfaces Group MIB',
      June 2000
      [RFC 3419] refers to IETF RFC 3419 
      'Textual Conventions for Transport Addresses', December 2002
      [Y.1731] refers to ITU-T Y.1731 
      'OAM functions and mechanisms for Ethernet based networks',
      July 2011
      [Q.840.1] refers to ITU-T Q.840.1 
      'Requirements and analysis for NMS-EMS management interface
      of Ethernet over Transport and Metro Ethernet 
      Network(EoT/MEN)' March 2007
    </xs:documentation>
  </xs:annotation>

  <xs:element name="mef-topology">
    <xs:annotation>
      <xs:documentation>
        MEF Topology
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="devices" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Network Devices in the CEN.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="device" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    Network Device List.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dev-id"  type="mef-types:identifier45">
                      <xs:annotation>
                        <xs:documentation>
                          Device Identifier.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="interfaces" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>
                          Physical Ports/Interfaces associated with this Network Device.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="interface" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>
                                External Interface for the Network Device.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="phy"  type="mef-types:identifier45">
                                  <xs:annotation>
                                    <xs:documentation>
                                      The Phy Name for the Physical Port.
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="ieee8023-phy" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>
                                      The Physical Layer for each physical link implementing the UNI MUST be one of the PHYs listed in IEEE Std 802.3–2012 but excluding 1000BASE-PX-D and 1000BASE-PX-U.
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:QName">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:any minOccurs="0" maxOccurs="unbounded"
                                        namespace="##other" processContents="lax"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:any minOccurs="0" maxOccurs="unbounded"
                                  namespace="##other" processContents="lax"/>
                        </xs:sequence>
                      </xs:complexType>
                      <xs:key name="key_interfaces_device_devices_mef-topology_interface">
                        <xs:selector xpath="mef-topology:interface"/>
                        <xs:field xpath="mef-topology:phy"/>
                      </xs:key>
                    </xs:element>
                    <xs:element name="role" minOccurs="0"  type="mef-types:device-role">
                      <xs:annotation>
                        <xs:documentation>
                          The role of this device in the network.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:any minOccurs="0" maxOccurs="unbounded"
                            namespace="##other" processContents="lax"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:any minOccurs="0" maxOccurs="unbounded"
                      namespace="##other" processContents="lax"/>
            </xs:sequence>
          </xs:complexType>
          <xs:key name="key_devices_mef-topology_device">
            <xs:selector xpath="mef-topology:device"/>
            <xs:field xpath="mef-topology:dev-id"/>
          </xs:key>
        </xs:element>
        <xs:element name="connections" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Physical Network Connections
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="connection" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name"  type="mef-types:identifier45"/>
                    <xs:element name="endpoint-1" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>
                          End Point 1
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="device" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>
                                Hostname or IP Address for the End Point's Device.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="mef-types:identifier45">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="interface" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>
                                The Phy Name for the End Point's Physical Port.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="mef-types:identifier45">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:any minOccurs="0" maxOccurs="unbounded"
                                  namespace="##other" processContents="lax"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="endpoint-2" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>
                          End Point 2
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="device" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>
                                Hostname or IP Address for the End Point's Device.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="mef-types:identifier45">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="interface" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>
                                The Phy Name for the End Point's Physical Port.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="mef-types:identifier45">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:any minOccurs="0" maxOccurs="unbounded"
                                  namespace="##other" processContents="lax"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:any minOccurs="0" maxOccurs="unbounded"
                            namespace="##other" processContents="lax"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:any minOccurs="0" maxOccurs="unbounded"
                      namespace="##other" processContents="lax"/>
            </xs:sequence>
          </xs:complexType>
          <xs:key name="key_connections_mef-topology_connection">
            <xs:selector xpath="mef-topology:connection"/>
            <xs:field xpath="mef-topology:name"/>
          </xs:key>
        </xs:element>
        <xs:any minOccurs="0" maxOccurs="unbounded"
                namespace="##other" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
