test/Cisco_Tail-f_NSO_example/MEF_Tests/xsd/mef-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:yin="urn:ietf:params:xml:schema:yang:yin:1"
           targetNamespace="http://metroethernetforum.org/ns/yang/mef-types"
           xmlns="http://metroethernetforum.org/ns/yang/mef-types"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2015-05-26"
           xml:lang="en"
          xmlns:mef-types="http://metroethernetforum.org/ns/yang/mef-types">

  <xs:annotation>
    <xs:documentation>
      This schema was generated from the YANG module mef-types

      The schema describes an instance document consisting
      of the entire configuration data store, operational
      data, rpc operations, and notifications.
      This schema can thus NOT be used as-is to
      validate NETCONF PDUs.
    </xs:documentation>
  </xs:annotation>

  <xs:annotation>
    <xs:documentation>
      This module defines the YANG Type Definitions and shared 
      (templated) groupings of data elementsused by MEF YANG Modules.

      Reference Overview:
      A number of base documents have been used to create 
      the MEF Types YANG Module. The following are the 
      abbreviations for the baseline documents:
      [RFC 6991] refers to IETF RFC 6991 'Common YANG Data Types',
      2013-07-15  
      [RFC 6643] refers to IETF RFC 6643 'Translation of Structure
      of Management Information
      Version 2 (SMIv2) MIB Modules to YANG Modules', 2011-11-25  
      [802.1AB] refers to 'Station and Media Access Control
      Connectivity Discovery', IEEE 802.1AB-2009, September 2009
      [802.1q] refers to IEEE 802.1Q-2011 'IEEE Standard for Local
      and metropolitan area networks --Media Access Control (MAC)
      Bridges and Virtual Bridged Local Area Networks, August 2011
      [802-2001] refers to 'IEEE Standard for Local and Metropolitan
      Area Networks: Overview and Architecture', IEEE 802-2001,
      February 2002
      [MEF10.3] refers to MEF 10.3 
      'Ethernet Services Attributes Phase 3', October 2013
      [MEF6.2] refers to MEF 6.2 
      'EVC Ethernet Services Defintions Phase 3', August 2014
      [MEF40] refers to MEF 40 
      'UNI and EVC Definition of Managed Objects', April 2013
      [MEF45] refers to MEF 45 'Multi-CEN L2CP', August 2014
      [MEF7.2] refers to MEF 7.2 
      'Carrier Ethernet Management Information Model', April 2013
      [MEF7.3] refers to MEF 7.3 
      'Carrier Ethernet Management Information Model',
      Working Draft #1 2015
      [RFC 2737] refers to IETF RFC 2737 'Entity MIB (Version 2)',
      December 1999
      [RFC 2863] refers to IETF RFC 2863 'The Interfaces Group MIB',
      June 2000
      [RFC 3419] refers to IETF RFC 3419 
      'Textual Conventions for Transport Addresses', December 2002
      [Y.1731] refers to ITU-T Y.1731 
      'OAM functions and mechanisms for Ethernet based networks',
      July 2011
      [Q.840.1] refers to ITU-T Q.840.1 
      'Requirements and analysis for NMS-EMS management interface
      of Ethernet over Transport and Metro Ethernet 
      Network(EoT/MEN)' March 2007
    </xs:documentation>
  </xs:annotation>

  <!-- YANG typedefs -->
  <xs:simpleType name="identifier45">
    <xs:annotation>
      <xs:documentation>
        This type definition accepts any visible ASCII character plus the &lt;space&gt; character.The string must be an RFC 2579 Display String (RFC 854 ASCII 0.00-0.7f) but not contain the characters 0.00 through 0.1f. It does not accept the &lt;delete&gt; character (0.7f) despite the current MEF specification not disallowing it.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="t0">
      <xs:maxLength value="45"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="max-svc-frame-size-type">
    <xs:annotation>
      <xs:documentation>
        Max Frame Size Type in bytes. Service Frames larger than this size will be discarded.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1522"/>
      <xs:maxInclusive value="16384"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="retail-svc-id-type">
    <xs:annotation>
      <xs:documentation>
        General ID used by higher level applications that connect Subscribers information and SLA's with configured Ethernet Services.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedInt">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="svc-provider-type">
    <xs:annotation>
      <xs:documentation>
        Service Provider Type
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="identifier45">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cen-type">
    <xs:annotation>
      <xs:documentation>
        CEN Type
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="identifier45">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="subscriber-type">
    <xs:annotation>
      <xs:documentation>
        Subscriber Type
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="identifier45">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="evc-id-type">
    <xs:annotation>
      <xs:documentation>
        EVC ID Type
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="identifier45">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="simple-percent">
    <xs:annotation>
      <xs:documentation>
        Percent.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.00"/>
      <xs:maxInclusive value="100.00"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vlan-id-type">
    <xs:annotation>
      <xs:documentation>
        The VLAN-ID that uniquely identifies a VLAN.  This is the 12-bit  VLAN-ID used in the VLAN Tag header. The range is defined by the REFERENCED specification. VLAN ID 0 is used for VLAN Unaware Mode.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="4094"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vlan-id-or-none-type">
    <xs:annotation>
      <xs:documentation>
        The VLAN-ID that uniquely identifies a VLAN.  This is the 12-bit VLAN-ID used in the VLAN Tag header. The range is defined by the REFERENCED specification. VLAN ID 0 is used for VLAN Unaware (ie. None) Mode
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="4094"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vlan-id-or-all-type">
    <xs:annotation>
      <xs:documentation>
        The VLAN-ID that uniquely identifies a VLAN.  This is the 12-bit  VLAN-ID used in the VLAN Tag header. The range is defined by the REFERENCED specification. VLAN ID 4095 is used for VLAN Any Mode
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="4095"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vlan-id-any-none-type">
    <xs:annotation>
      <xs:documentation>
        The VLAN-ID that uniquely identifies a VLAN.  This is the 12-bit VLAN-ID used in the VLAN Tag header. The range is defined by the REFERENCED specification. This typedef is for use with Operational Status information where VLAN ID 0 may be used for VLAN Unaware Mode and use of 4095 is Reserved / None.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="4095"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ieee-8021-priority">
    <xs:annotation>
      <xs:documentation>
        An 802.1Q user priority value.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedByte">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="entity-admin-state-type">
    <xs:annotation>
      <xs:documentation>
        Represents the various possible administrative states. A value of 'locked' means the resource is administratively prohibited from use.  A value of 'shuttingDown' means that usage is administratively limited to current instances of use.A value of 'unlocked' means the resource is not administratively prohibited from use.A value of 'unknown' means that this resource is unable to report administrative state.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="unknown"/>
      <xs:enumeration value="locked"/>
      <xs:enumeration value="shutting-down"/>
      <xs:enumeration value="unlocked"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="performance-metric-type">
    <xs:annotation>
      <xs:documentation>
        Performance Metrics.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="one-way-frame-delay-performance"/>
      <xs:enumeration value="one-way-frame-delay-range-performance"/>
      <xs:enumeration value="one-way-mean-frame-delay-performance"/>
      <xs:enumeration value="one-way-inter-frame-delay-variation-performance"/>
      <xs:enumeration value="one-way-frame-loss-ratio-performance"/>
      <xs:enumeration value="one-way-availability-performance"/>
      <xs:enumeration value="one-way-resiliency-performance-hli"/>
      <xs:enumeration value="one-way-resiliency-performance-chli"/>
      <xs:enumeration value="one-way-group-availability-performance"/>
      <xs:enumeration value="one-way-multiple-evc-group-availability-performance"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="evc-type">
    <xs:annotation>
      <xs:documentation>
        EVC Type
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="point-to-point"/>
      <xs:enumeration value="multipoint-to-multipoint"/>
      <xs:enumeration value="rooted-multipoint"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="evc-status-type">
    <xs:annotation>
      <xs:documentation>
        EVC Status Type
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="new"/>
      <xs:enumeration value="active"/>
      <xs:enumeration value="inactive"/>
      <xs:enumeration value="partially-active"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="evc-uni-role-type">
    <xs:annotation>
      <xs:documentation>
        This object configures UNI type on an EVC.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="root"/>
      <xs:enumeration value="leaf"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="data-svc-frame-delivery-type">
    <xs:annotation>
      <xs:documentation>
        A MEF service can have one of three different delivery types.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="discard"/>
      <xs:enumeration value="unconditional"/>
      <xs:enumeration value="conditional"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="uni-resiliency-type">
    <xs:annotation>
      <xs:documentation>
        This object type of resiliency mechanism for a specific UNI.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="dual-link-aggregation"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="svc-frame-format-type">
    <xs:annotation>
      <xs:documentation>
        The format must be that of a MAC Frame specified in IEEE Std 802.3-2012 Clause 3.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="no-tag"/>
      <xs:enumeration value="ctag"/>
      <xs:enumeration value="stag"/>
      <xs:enumeration value="stag-ctag"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="uni-mode-type">
    <xs:annotation>
      <xs:documentation>
        This setting is used to configure a UNI as either a UNI or a VUNI
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="uni"/>
      <xs:enumeration value="vuni"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="evc-cos-identifier-type">
    <xs:annotation>
      <xs:documentation>
        [MEF10.3] Section 10.2.1.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="evc"/>
      <xs:enumeration value="pcp"/>
      <xs:enumeration value="dscp"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="evc-eec-identifier-type">
    <xs:annotation>
      <xs:documentation>
        [MEF10.3] Section 10.2.1.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="pcp"/>
      <xs:enumeration value="dscp"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cos-color-identifier-type">
    <xs:annotation>
      <xs:documentation>
        CoS Color Identification Type.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="evc"/>
      <xs:enumeration value="pcp"/>
      <xs:enumeration value="dei"/>
      <xs:enumeration value="dscp"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cos-color-type">
    <xs:annotation>
      <xs:documentation>
        CoS Color.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="green"/>
      <xs:enumeration value="yellow"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bwp-cir-type">
    <xs:annotation>
      <xs:documentation>
        Bandwidth Profile Committed Information Rate in Kilobits Per Second.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedInt">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bwp-cbs-type">
    <xs:annotation>
      <xs:documentation>
        Bandwidth Profile Committed Burst Size in Bytes.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedInt">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bwp-eir-type">
    <xs:annotation>
      <xs:documentation>
        Bandwidth Profile Excess Information Rate in Kilobits Per Second.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedInt">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bwp-ebs-type">
    <xs:annotation>
      <xs:documentation>
        Excess Burst Size (EBS) in bytes: This parameter limits the maximum number of bytes available for a burst of Service Frames sent at the UNI line rate that will be declared Yellow by the Bandwidth Profile. If this value is 0, then no limit is assumed.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="10000000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="elmi-polling-counter-type">
    <xs:annotation>
      <xs:documentation>
        ELMI Polling Counter.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedShort">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="elmi-status-error-threshold-type">
    <xs:annotation>
      <xs:documentation>
        The count of consecutive ELMI status polling errors before raising an error.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedByte">
      <xs:minInclusive value="2"/>
      <xs:maxInclusive value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="elmi-polling-timer-type">
    <xs:annotation>
      <xs:documentation>
        The type used for a timer started after tranmitting a Status Enquiry. If the timer expires, record the error if a STATUS message not received and resend Status Enquiry.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedByte">
      <xs:minInclusive value="5"/>
      <xs:maxInclusive value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="elmi-polling-verification-timer-type">
    <xs:annotation>
      <xs:documentation>
        The type used for a timer started after tranmitting a Status Message. If a Status Enquiry is recieved before this timer expires, record the error.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedByte">
      <xs:minInclusive value="5"/>
      <xs:maxInclusive value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bwp-color-mode-type">
    <xs:annotation>
      <xs:documentation>
        This attribute describes the color mode (CM) to be applied as "color-blind mode" or "color-aware mode".
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="color-blind"/>
      <xs:enumeration value="color-aware"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bwp-coupling-flag-type">
    <xs:annotation>
      <xs:documentation>
        The Bandwidth Profile parameter that determines whether or not overflow tokens not used for Service Frames declared Green can be used as Yellow tokens.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="yellow-eir-only"/>
      <xs:enumeration value="yellow-eir-plus-cir"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="auto-negotiation-type">
    <xs:annotation>
      <xs:documentation>
        Phy Auto-negotiation Enabled/Disabled.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="on"/>
      <xs:enumeration value="off"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="service-entity-type">
    <xs:annotation>
      <xs:documentation>
        MEF Service Entity Type.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="evc"/>
      <xs:enumeration value="tunnel-1"/>
      <xs:enumeration value="tunnel-2"/>
      <xs:enumeration value="ovc"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="l2cp-handling-type">
    <xs:annotation>
      <xs:documentation>
        L2CP Service Frame handling option.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="discard"/>
      <xs:enumeration value="pass"/>
      <xs:enumeration value="peer"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="l2cp-address-set-type">
    <xs:annotation>
      <xs:documentation>
        The L2CP Address Set Service Attribute specifies the subset of the Bridge Reserved Addresses that are filtered (i.e. L2CP Frames with this destination address are Peered or Discarded but not Passed) at a L2CP Decision Point.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="aware-cta"/>
      <xs:enumeration value="blind-ctb"/>
      <xs:enumeration value="option2-blind-ctb2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="l2cp-peering-protocol-type">
    <xs:annotation>
      <xs:documentation>
        The Peering Protocol Identifier is one of Ethertype, LLC, or Other.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="ethertype"/>
      <xs:enumeration value="llc"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ieee8021p-priority-type">
    <xs:annotation>
      <xs:documentation>
        IEEE 802.1p VLAN Header Class of Service field. Used for Priority Code Point(PCP) configurations.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedByte">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mef-service-type">
    <xs:annotation>
      <xs:documentation>
        This object indicates the specific Ethernet service type.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="epl"/>
      <xs:enumeration value="evpl"/>
      <xs:enumeration value="eplan"/>
      <xs:enumeration value="evplan"/>
      <xs:enumeration value="eptree"/>
      <xs:enumeration value="evptree"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ext-if-availability-type">
    <xs:annotation>
      <xs:documentation>
        Availability of the Physical Interface. The availability status type indicates that the Phy is functioning properly.  May  be  mapped  to  RFC  2863,  The Interfaces  Group  MIB  IfOperstatus. Values for availability status include: inTest, failed, powerOff, degraded, notInstalled.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="in-test"/>
      <xs:enumeration value="failed"/>
      <xs:enumeration value="power-off"/>
      <xs:enumeration value="degraded"/>
      <xs:enumeration value="not-installed"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="virt-cx-availability-type">
    <xs:annotation>
      <xs:documentation>
        Availability of the Virtual Connection. The availability status type indicates that the Virtual Connection is functioning properly. May be mapped to RFC 2863, The Interfaces Group MIB IfOperstatus. Values for availability status include: inTest, failed, powerOff, degraded, notInstalled.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="in-test"/>
      <xs:enumeration value="failed"/>
      <xs:enumeration value="degraded"/>
      <xs:enumeration value="not-installed"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="svc-endpoint-availability-type">
    <xs:annotation>
      <xs:documentation>
        Availability of the Service Endpoint. The availability status type indicates that the Service Endpoint is functioning properly. May be mapped to RFC 2863. The Interfaces Group MIB IfOperstatus. Values for availability status include: inTest, failed, powerOff, degraded, notInstalled.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="in-test"/>
      <xs:enumeration value="failed"/>
      <xs:enumeration value="degraded"/>
      <xs:enumeration value="not-installed"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ext-if-physical-layer-type">
    <xs:annotation>
      <xs:documentation>
        The maximum theoretical bandwidth for the phy.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="10M"/>
      <xs:enumeration value="100M"/>
      <xs:enumeration value="1G"/>
      <xs:enumeration value="10G"/>
      <xs:enumeration value="40G"/>
      <xs:enumeration value="100G"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="device-role">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ce"/>
      <xs:enumeration value="pe"/>
      <xs:enumeration value="p"/>
    </xs:restriction>
  </xs:simpleType>


  <!-- locally generated simpleType helpers -->

  <xs:simpleType name="t0">
    <xs:restriction base="xs:string">
    <xs:pattern value="[ -~]+"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
